/*VBox*/
.vBox {
    -fx-background-image: url("/Images/mountain.gif");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/*Title and mainMenu button*/
.hBoxTitleAndButton {
    -fx-padding: 10px 0;
}

.title {
    -fx-font-size: 35px;
    -fx-font-family: Cochin;
    -fx-text-fill: white;
    -fx-translate-x: 280;
}

.mainMenuButton {
    -fx-cursor: hand;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: #9c8ed9;
    -fx-border-radius: 3px;
    -fx-translate-x: 460px;
    -fx-effect: dropshadow(gaussian, rgba(0.7, 0.8, 0, 0), 5, 0.5, 0, 0);
}

.mainMenuButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}

/*General fields*/
.generalhBox {
    -fx-padding: 10px 10px 10px 10px;
    -fx-background-color: white;
    -fx-max-width: 400px;
    -fx-alignment: center;
    -fx-translate-x: 150px;
    -fx-translate-y: 20px;
}

.generalText {
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-family: Cochin;
    -fx-translate-x: -10px;
}

/*Inventory and check boxes*/
.hBoxInventoryFlaw {
    -fx-padding: 10px 10px 10px 10px;
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-translate-x: 150px;
    -fx-translate-y: 20px;
    -fx-border-color: red;
}

.inventoryText {
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-family: Cochin;
    -fx-translate-x: -10px;
    -fx-translate-y: -38px;
}

.custom-checkbox .box {
    -fx-cursor: hand;
    -fx-background-color: white; /* Set the background color of the checkbox */
    -fx-border-color: black; /* Set the border color of the checkbox */
    -fx-border-radius: 3px;
}

.custom-checkbox:selected .box {
    -fx-background-color: #20ef2a; /* Set the background color of the checkbox */
}

.custom-checkbox .text {
    -fx-font-size: 18px;
    -fx-font-family: Cochin;
}

/*Create player button*/
.hBoxCreatePlayer {
    -fx-padding: 50px 10px 10px 10px;
    -fx-alignment: center;
}

.createPlayerButton {
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: #9c8ed9;
    -fx-border-radius: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0.7, 0.8, 0, 0), 5, 0.5, 0, 0);
}

.createPlayerButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}

/*When input is invalid*/
.flaw {
    -fx-border-color: red;
    -fx-border-radius: 3px;
    -fx-border-width: 3px;
}




