/*VBox*/
.vBox {
    -fx-background-image: url("/Images/birds.gif");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-alignment: center;
}

/*Title*/
.hBoxTitle {
    -fx-translate-y: -170px;
    -fx-alignment: center;
    -fx-background-color: #4CAF50;
    -fx-max-width: 600px;
    -fx-padding: 10px 10px 10px 10px;
}

.title {
    -fx-font-size: 30px;
    -fx-font-family: Cochin;
    -fx-text-fill: white;
}

/*Main menu button*/
.hBoxMainMenuButton {
    -fx-alignment: center;
    -fx-translate-y: 200px;
}

.mainMenuButton {
    -fx-cursor: hand;
    -fx-background-color: #9c8ed9;
    -fx-text-fill: white;
    -fx-border-color: #7559e7;
    -fx-border-radius: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0.7, 0.8, 0, 0), 5, 0.5, 0, 0);
    -fx-font-size: 16px;
}

.mainMenuButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}

/*Headings*/
.hBoxHeadings {
    -fx-translate-y: -100px;
    -fx-spacing: 140px;
    -fx-padding: 10px 10px 10px 10px;
    -fx-max-width: 600px;
    -fx-alignment: center;
    -fx-background-color:  #4CAF50;
}

.heading {
    -fx-font-size: 20px;
    -fx-font-family: Cochin;
    -fx-text-fill: white;
}

/*General text*/
.hBoxMain {
    -fx-font-size: 18px;
    -fx-font-family: Cochin;
    -fx-alignment: center;
}

.hBoxValue {
    -fx-font-size: 18px;
    -fx-font-family: Cochin;
    -fx-alignment: center;
    -fx-translate-x: 150px;
}

.hBoxGoal {
    -fx-font-size: 18px;
    -fx-font-family: Cochin;
    -fx-alignment: center;
    -fx-translate-x: 320px;
}

.hBoxAchieved {
    -fx-font-size: 18px;
    -fx-font-family: Cochin;
    -fx-alignment: center;
    -fx-translate-x: 390px;
}

.generalText {
    -fx-font-size: 18px;
    -fx-font-family: Cochin;
    -fx-text-fill: white;
}

/*Gold information*/
.hBoxGold {
    -fx-translate-y: -100px;
    -fx-spacing: 120px;
    -fx-padding: 10px;
    -fx-max-width: 600px;
    -fx-alignment: center;
    -fx-background-color:  #4CAF50;
}

/*Health information*/
.hBoxHealth {
    -fx-translate-y: -100px;
    -fx-spacing: 120px;
    -fx-padding: 10px;
    -fx-max-width: 600px;
    -fx-alignment: center;
    -fx-background-color:  #4CAF50;
}

/*Score information*/
.hBoxScore {
    -fx-translate-y: -100px;
    -fx-spacing: 120px;
    -fx-padding: 10px;
    -fx-max-width: 600px;
    -fx-alignment: center;
    -fx-background-color:  #4CAF50;
}

/*Inventory information*/
.hBoxInventory {
    -fx-translate-y: -100px;
    -fx-spacing: 140px;
    -fx-padding: 10px;
    -fx-max-width: 600px;
    -fx-alignment: center;
    -fx-background-color:  #4CAF50;
}
