/*VBox*/
.vBox {
    -fx-background-image: url("/Images/deer.gif");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/*Title*/
.hBoxTitle {
    -fx-translate-y: 10px;
    -fx-alignment: center;
}

.title {
    -fx-font-size: 35px;
    -fx-font-family: Cochin;
    -fx-text-fill: #7997e3;
}

/*Instructions*/
.hBoxInstructions {
    -fx-padding: 10px 10px 10px 10px;
    -fx-background-color: white;
    -fx-max-width: 600px;
    -fx-alignment: center;
    -fx-translate-x: 60px;
    -fx-translate-y: 20px;
}

.instructions {
    -fx-font-size: 15px;
    -fx-max-width: 600px;
}

/*Button*/
.hBoxMainMenuButton {
    -fx-padding: 50px 10px 10px 10px;
    -fx-alignment: center;
}

.mainMenuButton {
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-background-color: #9c8ed9;
    -fx-text-fill: white;
    -fx-border-color: #9c8ed9;
    -fx-border-radius: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0.7, 0.8, 0, 0), 5, 0.5, 0, 0);
}

.mainMenuButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}
