/*VBox*/
.vBox {
    -fx-background-image: url("/Images/ocean.gif");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/*Choose a file text*/
.chooseAFile {
    -fx-font-size: 20px;
    -fx-text-fill: #196a31;
    -fx-label-padding: 0px 20px;
    -fx-translate-x: 100;
    -fx-font-family: Cochin;
}

/*Table view*/
.hBoxTableView {
    -fx-alignment: center;
    -fx-pref-width: 500px;
    -fx-padding: 10px 20px 20px 20px;
}

.tableView {
    -fx-pref-width: 500px;
}

/*Upload file button*/
.hBoxUploadFileButton {
    -fx-translate-x: 300;
    -fx-spacing: 550;
    -fx-padding: 10px 0;
}

.uploadFileButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-color: green;
    -fx-border-radius: 3px;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0.7, 0.8, 0, 0), 5, 0.5, 0, 0);
}

.uploadFileButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}

/*Create player button*/
.hBoxCreatePlayerButton {
    -fx-translate-x: 600;
    -fx-translate-y: 40;
}

.createPlayerButton {
    -fx-cursor: hand;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-border-color: green;
    -fx-border-radius: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0.7, 0.8, 0, 0), 5, 0.5, 0, 0);
    -fx-font-size: 16px;
}

.createPlayerButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}

/*Settings button + title*/
.hBoxSettingsButton {
    -fx-padding: 20px 0;
}

.title {
    -fx-font-size: 35px;
    -fx-font-family: Cochin;
    -fx-text-fill: #196a31;
    -fx-translate-x: 280;
}

.settingsButton {
    -fx-cursor: hand;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-border-color: green;
    -fx-border-radius: 3px;
    -fx-translate-x: 410px;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(gaussian, rgba(0.7, 0.8, 0, 0), 5, 0.5, 0, 0);
}

.settingsButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}

