/*VBox*/
.vBox {
    -fx-background-image: url("/Images/cabin.gif");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/*Menu line*/
.hBoxButtons {
    -fx-spacing: 10px; /* Set spacing between buttons */
    -fx-padding: 10px;
    -fx-max-width: 720px;
    -fx-alignment: center;
}

.hBoxButtons .button {
    -fx-hgrow: ALWAYS; /* Distribute available space equally */
}

.mainMenuButton {
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-background-color: #9c8ed9;
    -fx-text-fill: white;
    -fx-border-color: #9c8ed9;
    -fx-border-radius: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0.7, 0.8, 0, 0), 5, 0.5, 0, 0);
}

.mainMenuButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}

.restartButton {
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-background-color: #9c8ed9;
    -fx-text-fill: white;
    -fx-border-color: #9c8ed9;
    -fx-border-radius: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0.7, 0.8, 0, 0), 5, 0.5, 0, 0);
}

.restartButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}

.howToButton {
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-background-color: #9c8ed9;
    -fx-text-fill: white;
    -fx-border-color: #7a62e8;
    -fx-border-radius: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0.7, 0.8, 0, 0), 5, 0.5, 0, 0);
}

.howToButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}

/*Player information*/
.hBoxPlayerInfo {
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-max-width: 550px;
    -fx-translate-x: 85px;
    -fx-background-color: #9c8ed9;
    -fx-font-size: 18px;
    -fx-padding: 10px 10px 10px 10px;
    -fx-text-fill: white;
    -fx-font-family: Cochin;
    -fx-alignment: center;
}

.generalText {
    -fx-text-fill: white;
    -fx-font-family: Cochin;
}

.generalhBox {
    -fx-padding: 10px 10px 10px 10px;
}

/*Passage title*/
.hBoxTitle {
    -fx-translate-y: 25px;
    -fx-alignment: center;
}

.title {
    -fx-font-size: 35px;
    -fx-font-family: Cochin;
    -fx-text-fill: white;
}

/*Passage content and message for goals*/
.hBoxContent {
    -fx-translate-y: 40px;
    -fx-spacing: 20px;
    -fx-max-width: 550px;
    -fx-max-height: 400px;
    -fx-translate-x: 85px;
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-padding: 10px 10px 10px 10px;
}

.content {
    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-font-family: Cochin;
}

.message {
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-font-family: Cochin;
}

.vBoxMessage {
    -fx-spacing: 10px;
}

/*New buttons*/
.hBoxNewButtons {
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-max-width: 720px;
    -fx-alignment: center;
    -fx-translate-y: 100px;
}

.hBoxNewButtons .button {
    -fx-hgrow: ALWAYS;
}

.newButton {
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-font-size: 16px;
    -fx-background-color: #9c8ed9;
    -fx-text-fill: white;
    -fx-border-color: #9c8ed9;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0.7, 0.8, 0, 0), 5, 0.5, 0, 0);
}

.newButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}



