/*VBox*/
.vBox {
    -fx-background-image: url("/Images/mountain.gif");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/*Title*/
.hBoxTitle {
    -fx-translate-y: 10px;
    -fx-alignment: center;
}

.title {
    -fx-font-size: 35px;
    -fx-font-family: Cochin;
    -fx-text-fill: white;
}

/*Information about the registered player*/
.hBoxPlayerInfo {
    -fx-padding: 10px 10px 10px 10px;
    -fx-background-color: white;
    -fx-max-width: 400px;
    -fx-alignment: center;
    -fx-translate-x: 150px;
    -fx-translate-y: 50px;
}

.playerInfo {
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-family: Cochin;
    -fx-translate-x: -10px;
}

/*Buttons*/
.hBoxButtons {
    -fx-padding: 100px 10px 10px 10px;
    -fx-alignment: center;
}

.mainMenuButton {
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-background-color: #32267a;
    -fx-text-fill: white;
    -fx-border-color: #5340b7;
    -fx-border-radius: 3px;
    -fx-translate-x: -50px;
    -fx-effect: dropshadow(gaussian, rgba(0.7, 0.8, 0, 0), 5, 0.5, 0, 0);
}

.mainMenuButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}

.startGameButton {
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-background-color: #32267a;
    -fx-text-fill: white;
    -fx-border-color: #5340b7;
    -fx-border-radius: 3px;
    -fx-translate-x: 35px;
    -fx-effect: dropshadow(gaussian, rgba(0.7, 0.8, 0, 0), 5, 0.5, 0, 0);
}

.startGameButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}
